data/netpeek-scan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="nmaprun">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="host" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="status" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="state" type="xs:string" use="required"/>
                  <xs:attribute name="reason" type="xs:string" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="address" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="addr" type="xs:string" use="required"/>
                  <xs:attribute name="addrtype" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="hostnames" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="hostname" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="optional"/>
                        <xs:attribute name="type" type="xs:string" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ports" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="port" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="state" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:attribute name="state" type="xs:string" use="required"/>
                              <xs:attribute name="reason" type="xs:string" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="service" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="optional"/>
                              <xs:attribute name="product" type="xs:string" use="optional"/>
                              <xs:attribute name="version" type="xs:string" use="optional"/>
                              <xs:attribute name="cpe" type="xs:string" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="script" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="id" type="xs:string" use="optional"/>
                              <xs:attribute name="output" type="xs:string" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="protocol" type="xs:string" use="required"/>
                        <xs:attribute name="portid" type="xs:unsignedInt" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="os" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="osmatch" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="osclass" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="type" type="xs:string" use="optional"/>
                              <xs:attribute name="vendor" type="xs:string" use="optional"/>
                              <xs:attribute name="osfamily" type="xs:string" use="optional"/>
                              <xs:attribute name="osgen" type="xs:string" use="optional"/>
                              <xs:attribute name="accuracy" type="xs:string" use="optional"/>
                              <xs:attribute name="cpe" type="xs:string" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="optional"/>
                        <xs:attribute name="accuracy" type="xs:string" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hostscript" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="script" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="optional"/>
                        <xs:attribute name="output" type="xs:string" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="runstats" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="finished" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="time" type="xs:string" use="optional"/>
                  <xs:attribute name="summary" type="xs:string" use="optional"/>
                  <xs:attribute name="elapsed" type="xs:string" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="hosts" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="up" type="xs:unsignedInt" use="optional"/>
                  <xs:attribute name="down" type="xs:unsignedInt" use="optional"/>
                  <xs:attribute name="total" type="xs:unsignedInt" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="ports" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="open" type="xs:unsignedInt" use="optional"/>
                  <xs:attribute name="closed" type="xs:unsignedInt" use="optional"/>
                  <xs:attribute name="filtered" type="xs:unsignedInt" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="scanner" type="xs:string" use="required"/>
      <xs:attribute name="args" type="xs:string" use="optional"/>
      <xs:attribute name="start" type="xs:string" use="optional"/>
      <xs:attribute name="startstr" type="xs:string" use="optional"/>
      <xs:attribute name="version" type="xs:string" use="optional"/>
      <xs:attribute name="xmloutputversion" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
